.MyButton
{
color: white;
color: #fff; 
text-decoration: none; 
user-select: none; 
background: rgb(5,142,250); 
outline: none; 
float: left;
}

.buttonFirstLi
{
list-style: none;
float: left;
height: 30px;
padding: 0;
margin: 0;
width: 20%;
background-color: #058EFA;
position: relative;
padding-top: 12px; 
    }

.buttonFirstLi:hover
{
	background-color: #fff !important;
	color: #058EFA !important;    
}

.buttonFirstli:hover a {
	background-color: #fff !important;
	color: #058EFA !important;
}